code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: #292929;
}

.card{
  background-color: #292929;
}

.card-header{
  background-color: black;
  font-weight: bold;
}